.imgDetail{
    width: min-content;
    height: 420px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.divItemCount{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .imgDetail{
        height: 220px;
    }
  }
